In [8]:
import pandas

from pymongo import MongoClient

client = MongoClient('localhost', 27017)
imagery_database = client.imagery_database

In [20]:
annotation_list = [x for x in imagery_database.annotation_table.find()]
pandas.DataFrame(annotation_list)

,_id,filename,height,modified_datetime,text,width,x,y
0,5b1dde67cfc722ff5f3294b0,set1_01.JPG,0.079167,2018-06-11 02:28:55.568,3638,0.105556,0.609722,0.725000
1,5b1dde6dcfc722ff5f3294b2,set1_01.JPG,0.066667,2018-06-11 02:29:01.656,3,0.037500,0.320833,0.554167